In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings

warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

%matplotlib inline

pd.set_option('display.max_columns', None)

In [2]:
customer_df=pd.read_csv("we_fn_use_c_marketing_customer_value_analysis.csv")

In [3]:
customer_df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [5]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [35]:
len(customer_df["income"].unique())

5694

Rename the columns so they follow the PE8 (snake case).

In [19]:
customer_df.columns=[e.lower().replace(' ', '_') for e in customer_df.columns]  
customer_df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

Change effective to date column to datetime format

In [20]:
customer_df['effective_to_date'] = pd.to_datetime(customer_df.effective_to_date)

In [21]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   datetime64[ns]
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(15)
memory usage: 1.7+ MB

Check NaN values per column.

In [72]:
nulls = pd.DataFrame(customer_df.isnull().sum()/len(customer_df))
nulls

                                 0
customer                       0.0
state                          0.0
customer_lifetime_value        0.0
response                       0.0
coverage                       0.0
education                      0.0
effective_to_date              0.0
employmentstatus               0.0
gender                         0.0
income                         0.0
location_code                  0.0
marital_status                 0.0
monthly_premium_auto           0.0
months_since_last_claim        0.0
months_since_policy_inception  0.0
number_of_open_complaints      0.0
number_of_policies             0.0
policy_type                    0.0
policy                         0.0
renew_offer_type               0.0
sales_channel                  0.0
total_claim_amount             0.0
vehicle_class                  0.0
vehicle_size                   0.0

In [76]:
customer_df['income'].describe()

count     9134.000000
mean     37657.380009
std      30379.904734
min          0.000000
25%          0.000000
50%      33889.500000
75%      62320.000000
max      99981.000000
Name: income, dtype: float64

In [71]:
customer_df['number_of_open_complaints'].value_counts()

0    7252
1    1011
2     374
3     292
4     149
5      56
Name: number_of_open_complaints, dtype: int64

In [75]:
#number of complaints can be 0

In [74]:
len(customer_df['number_of_open_complaints'].isnull())

9134

Define a function that differentiates between continuous and discrete variables. Hint: A number of unique values might be useful. Store continuous data into a continuous variable and do the same for discrete and categorical.

In [41]:
for i in customer_df.columns:
    print(str(i) + ' ' + str(len(customer_df[i].unique())))

customer 9134
state 5
customer_lifetime_value 8041
response 2
coverage 3
education 5
effective_to_date 59
employmentstatus 5
gender 2
income 5694
location_code 3
marital_status 3
monthly_premium_auto 202
months_since_last_claim 36
months_since_policy_inception 100
number_of_open_complaints 6
number_of_policies 9
policy_type 3
policy 9
renew_offer_type 4
sales_channel 4
total_claim_amount 5106
vehicle_class 6
vehicle_size 3

In [45]:
objects=customer_df.select_dtypes("object")
numbers=customer_df.select_dtypes(np.number)

In [104]:
def converter(data):
    objects=data.select_dtypes("object")
    numbers=data.select_dtypes(np.number)
    numbernames=numbers.columns
    
    continius=[]
    discrete= []
    for i in numbernames:

        if len(data[i].unique()) > 202:
            
            continius.append(i)
        
        
        else:
            
            discrete.append(i)
            
    DiscreteValues=data[discrete]
    ContiniusValues=data[continius]
    
    return objects,DiscreteValues,ContiniusValues

In [77]:
cat,DiscreteValues,ContiniusValues= converter(customer_df)

In [98]:
# changing the catValues to lowercase and replace the blanks

In [80]:
def catchange (data):
    
    for catname in data.columns:
    
        data[catname]= [e.lower().replace(' ', '_') for e in data[catname]]  
    
    return data

In [81]:
cat=catchange(cat)

In [82]:
cat.head()

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,bu79786,washington,no,basic,bachelor,employed,f,suburban,married,corporate_auto,corporate_l3,offer1,agent,two-door_car,medsize
1,qz44356,arizona,no,extended,bachelor,unemployed,f,suburban,single,personal_auto,personal_l3,offer3,agent,four-door_car,medsize
2,ai49188,nevada,no,premium,bachelor,employed,f,suburban,married,personal_auto,personal_l3,offer1,agent,two-door_car,medsize
3,ww63253,california,no,basic,bachelor,unemployed,m,suburban,married,corporate_auto,corporate_l2,offer1,call_center,suv,medsize
4,hb64268,washington,no,basic,bachelor,employed,m,rural,single,personal_auto,personal_l1,offer1,agent,four-door_car,medsize

In [107]:
def CATconverter(data):
   
    
    Boolean=[]
    dumify= []
    drop_grouping = []
    
    numbernames=data.columns
    
    for i in numbernames:

        if len(data[i].unique()) == 2:
            
            Boolean.append(i)
        elif len(data[i].unique()) < 6:
            dumify.append(i)
        
        
        else:
            
            drop_grouping.append(i)
            
    Boolean=data[Boolean]
    dumify=data[dumify]
    drop_grouping= data[drop_grouping]
    
    return Boolean,dumify,drop_grouping

In [109]:
Boolean,dumify,drop_grouping=CATconverter(cat)

We dividet out data into Bins for further operations

In [110]:
cat=cat.set_index("customer")

TypeError: 'str' object is not callable

In [97]:
# i wanted to set customer as index but for some reason it didnt let me ;)